body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  display: flex !important;
  justify-content: space-around;
}

.AddForm_container {
  display: flex !important;
  justify-content: space-around;
  width: 80vw;
  min-width: 800px;
}

.Form_input {
  input {
    height: 17px;
    width: 112px !important;
  }
}